@layer tokens, base, components, utilities;

@import url("tokens/variables.css") layer(tokens);
@import url("tokens/colors.css") layer(tokens);
@import url("base/reset.css") layer(base);
@import url("base/elements.css") layer(base);
@import url("components/card.css") layer(components);
@import url("components/nav.css") layer(components);
@import url("utilities/utilities.css") layer(utilities);
@import url("components/footer.css") layer(components);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: var(--font-body);
    color: var(--color-text-light);
    line-height: 1.6;
    padding: var(--spacing-md);
    background-image: url('../dist/blue-purple-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-primary-hover);
}

.site-title {
    text-align: center;
    color: var(--color-text-light);
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
    font-size: var(--fontsize-lg);
}

.site-description {
    text-align: center;
    color: var(--color-text-light);
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
    font-size: 1.5em;
}

.site-description p {
    max-width: clamp(20rem, 50%, 60rem);
    margin: 0 auto;
}